h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.333;
}
p,
ul,
ol,
blockquote {
    line-height: 1.875;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    text-transform: inherit;
    font-family: inherit;
    color: inherit;
}
