.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    position: relative;
    vertical-align: middle;
}

.icon-pin {
    width: 0.6416666667em;
}
.icon-phone {
    width: 0.6616666667em;
}
