.notifications {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 280px;
    max-width: 100%;
}
.notifications:last-child {
    margin-bottom: 0;
}
.pending {
    position: relative;
    padding-left: 2.25rem;
}
.pending:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--black-40);
    border-left-color: var(--black);
    animation: rotate 1.1s infinite linear;
}
