.notifications {
    position: fixed;
    top: 5%;
    right: 2%;
    width: 96%;
    max-width: 100%;
    word-wrap: break-word;
    z-index: 100;
}
.notifications:last-child {
    margin-bottom: 0;
}
.notifications > div {
    min-width: 3rem;
    float: right;
    clear: both;
    word-wrap: break-word;
}
.pending {
    position: relative;
    padding-left: 2.25rem;
}
.pending:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--black-40);
    border-left-color: var(--black);
    animation: rotate 1.1s infinite linear;
}
