.notification-enter-active,
.notification-leave-active {
    transition: all 0.5s;
}
.notification-enter,
.notification-leave-to {
    opacity: 0;
    transform: translateY(-100%);
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s;
}
.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateY(100%);
}
